body{
    width: auto;
    height: 100%;
}   

header {
    height: 80px;
    width: 100%;
    background-color: #b5dbf3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lineas{
    width: 100px;
    height: 50px;
}

.iconos {
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.dots {
    width: 10px;
    height: 10px;
    justify-content: flex-end;
}